#app port
PORT=
# mongodb connection string.
# if you use docker compose to run, so DB_URI=mongodb://mongo:27017
DB_URI=

JWT_SECRET=
JWT_EXP=

#for seed (create admin account), see console for getting OTP code
ADMIN_EMAIL=
ADMIN_PASSWORD=

# for send mail(ex: OTP code) (optional)
SMTP_HOST=
SMTP_PORT=
SMTP_PASS=
EMAIL_FROM=


